.search-form-container {
    form {
        input {
            height: 32px;
            width: 400px;
            padding: 8px 24px;
            font-size: 18px;
            outline: none;
            background: #ffffff;
            border: none;
        }

        .btn {
            background: #2196f3;
            color: white;
            height: 48px;
            border: none;
            padding: 8px 24px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}