.not-found-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 320px;

  .title {
    margin-top: -8vh;
    font-weight: bold;
    color: $text-color;
    font-size: 3.375rem;
  
    span {
      font-size: 3.125rem;
    }
  }
}

